// Here you can add other styles
//
// Catcha Styles login
//


.input-avatar{
   width: 50px;
   height:50px;
   background: $fkppi-green;
   border-color: $fkppi-green;
   color:'#fff'
}

.input-login{
   height:50px;
   background: $fkppi-white;
   border-color: $fkppi-grey;
   color:'#fff'
}
.loadingicon{
  font-size: 34px;
}
.widthkurang{
  max-width: 70px;
}
.input-forgot{
   height:50px;
   background: $catcha-white;
   border-color: $catcha-grey;
   border-radius: 1.7px;
   color:$catcha-medium-grey;
   font-size: 16;
   text-align: center;
   margin-top: 30px;
   margin-bottom:30px;
}

.borderheader{
  border-right: 1px #DAE1E7 solid;
  width: 100%;
  text-align: center;
}
.headerforum{
  border-right: 1px #DAE1E7 solid;
    margin: 3px 0 0 0px;
    font-weight: bold;
    padding: 0 0 0 15px;
    border-bottom: 1px #DAE1E7 solid;
    font-family: roboto;
    font-size: 15px;
}
.headeradmin{
  border-top: 1px #DAE1E7 solid;
    margin: 0 0 0 69px;
}
.headeradmin2{
  margin: 10px 0 0 16px;
}
.tombol1{
  background-color: #ffbf20;
  color: white;
  width: 150px;
  margin: 0 10px 0 10px;
}
.tombol2{
  background-color: #404f3d;
  color: white;
  width: 150px;
  margin: 0 10px 0 10px;
}
.tombol4{
  background-color: #F64846;
  color: white;
  width: 150px;
  margin: 0 10px 0 10px;
}
.tombol3{
  background-color: rgb(199, 199, 199);
  color: white;
  width: 150px;
  margin: 0 10px 0 10px;
}
.tombolexcel{
  background-color: #1F7045;
  color: white;
  width: 150px;
  margin: 0 10px 0 10px;
}
.tombolmember button{
  background: none;
  border: none;
}
.tombolmember .btn-secondary:hover {
    background-color: none;
    border-color: none; 
}
.tombolmember .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  background-color: none;
  border-color: none; 
}

.tablewidth{
  width: 30px;
}
.ViewProfileTab{
  width: 100%;
}
.ViewProfileTab th{
  font-size: 20px;
}
.ViewProfileTab2{
  width: 100%;
}
.fontroboto{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.table-responsive {
  overflow-x: visible;
}
.ViewProfileTab2 th{
}
.ViewProfileName{
  font-size: 24px;
}
.ProcessMember{
  background-color: #00AEEF;
  border-radius: 80px;
  color: white;
  font-size: 12px;
  padding: 0 7px;
  margin: 0 5px;
}
.RejectMember{
  background-color: #FF0000;
  border-radius: 80px;
  color: white;
  font-size: 12px;
  padding: 0 7px;
  margin: 0 5px;
}
.card-header {
  background-color: #ffffff !important;
}
.colorhome{
  color: #dcdcdc;
}
.card-header {
  padding: 0.5rem 1.25rem;
  margin-bottom: 0;
  background-color: #f0f3f5;
  border-bottom: 1px solid #c8ced3;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  height: 53px;
}
.orangetime{
  color: #FBAD41 ;
  font-size: 18px;
}
.ProcessMember2{
  background-color: #8DC63F;
  border-radius: 80px;
  color: white;
  font-size: 12px;
  margin: 0 5px;
}
.ViewProfileJab{
  color: #E53E30;
}
.isi-table{
  color: #555;
}
.DetailMemberList{
  border: 1px solid #dae1e7;
  padding: 6px;
  margin: 0 5px 0 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.DocView{

}
.ViewProfileTab2 td{
  text-transform: uppercase;
}
.DocEditPhoto{
  border: 1px solid #dae1e7;
  padding: 6px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 105px;
}
.overflowtable{
  overflow: scroll;
  height: 485px;
}
// .overflowtable2{
//   overflow: hidden;
//   height: 523px;
// }
.padding0{
  padding: 0 0 0 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}
.displaynone{
  display: block ;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .displaynone{
    display: none !important;
  }
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(197, 197, 197);
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.headerhome{
  border-top: 1px #DAE1E7 solid;
    text-align: right;
    margin: 12px 0 0 0px;
    padding-right: 50px;
    font-size: 31px;
    color: #DAE1E7;
}
.headertime{
  border-right: 1px #DAE1E7 solid;
  padding: 0 20px 3px 0px;
  text-align: right;
  margin: 2px 0 0px 0;
  font-size: 10px;
  border-bottom: 1px #DAE1E7 solid;
}
.displayinline{
  display: inline;
}
.displayinline a{
  margin: 10px 0 0 0;
}
.button-login{
  background-color: $fkppi-green;
  border-color: $fkppi-green;
  border-radius: 1.7px;
  color: $white;

  &:hover{
    background-color: $fkppi-green;
    border-color: $fkppi-green;
    border-radius: 1.7px;
    color: $white;
  }

}

.button-forgot{
  background-color: $catcha-green;
  border-color: $catcha-green;
  font-family: 'Roboto';
  font-weight: 500;
  border-radius: 1.7px;
  font-size: 15px;
  color: $fkppi-yellow;
  margin-bottom:30px;
  &:hover{
    background-color: $catcha-green;
    border-color: $catcha-green;
    border-radius: 1.7px;
    color: $white;
  }

}


.button-danger{
  background-color: $catcha-red;
  border-color: $catcha-red;
  font-family: 'Roboto';
  font-weight: 500;
  border-radius: 1.7px;
  font-size: 15px;
  color: $white;
  margin-bottom:30px;
  &:hover{
    background-color: $catcha-red;
    border-color: $catcha-red;
    border-radius: 1.7px;
    color: $white;
  }

}
// TABBBB
.nav-tabs .nav-link.active {
  border:none !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-bottom: #01AFEC 3px solid !important;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-top:none !important;
  border-right:none !important;
  border-left:none !important;
  border-bottom: #01AFEC 3px solid !important;
}
.tab-content {
  border-top: 1px solid #c8ced3;
  border-bottom:none !important;
  border-right:none !important;
  border-left:none !important;
}
// TABBBB
.catcha-modal{
  text-align: center;

  h1{
    color: $catcha-green;
    font-size: 26px;
    font-family: 'Roboto';
    font-weight: 700;
    text-align: 'center';


  }

  .black{
    color: $catcha-shadow-black;
    font-size: 28px;
    font-weight: 400;
    line-height: 13px;
    margin-top: 15px;
    margin-bottom:8px;
  }

  p{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    margin-top: 8px;
  }

  .error{
    color: $catcha-medium-grey;
    margin-top: 8px;
  }
}
