// Variable overrides
//
//
//

////Color Fkppi

$catcha-blue:            #0092ff !default;
$catcha-blue-dark:       #0055ea !default;
$catcha-green:           #7cc233 !default;
$catcha-grey:            #dce1e4 !default;
$catcha-medium-grey:     #adadad !default;
$catcha-white:           #fbfbfb !default;
$catcha-red:             #f26d7d !default;
$catcha-light-blue:      #f1f5f7 !default;
$catcha-light-black:     #1d2146 !default;
$catcha-medium-black:    #1a1a3a !default;
$catcha-shadow-black:    #2d2a26 !default;
$catcha-main-blue:       #eff3f6 !default;


$fkppi-brown:            #888066  !default;
$fkppi-yellow:           #ffbf20  !default;
$fkppi-green:            #404f3d  !default;
$fkppi-grey:             #e2e2e1  !default;
$fkppi-white:            #fbfbfb  !default;



////  Style Typography

$fkppi-font: 'Roboto';
$catcha-font: 'Roboto';


